---
Checks: '*,-clang-diagnostic*,-hicpp*,-fuchsia*,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-bounds-constant-array-index,-llvm-namespace-comment,-google-readability-*,-readability-magic-numbers,-cert-err58-cpp,-cppcoreguidelines-pro-type-reinterpret-cast,-modernize-use-trailing-return-type,-readability-else-after-return,-google-runtime-references,-readability-simplify-boolean-expr,-readability-uppercase-literal-suffix,-cppcoreguidelines-pro-type-cstyle-cast,-cppcoreguidelines-pro-bounds-pointer-arithmetic'
