.vs/ProjectSettings.json
.vs/Rtos/v15
.vs/Rtos/v16
.vs/slnx.sqlite
.vs/UnitTests
.vs/VSworkspaceState.json
.vscode/
build/
cubemx/rtoscubemx
Debug/
packages/
Release/
UnitTests/UnitTests.vcxproj.user
