################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rtos/v15
/.vs/Rtos/v16
/build
/cubemx/rtoscubemx
/.vs/UnitTests/v15
Debug
Release
/UnitTests/UnitTests.vcxproj.user
