.vs/ProjectSettings.json
.vs/Rtos/v15
.vs/Rtos/v16
.vs/slnx.sqlite
.vs/UnitTests
.vs/VSworkspaceState.json
.vscode/
build/
cubemx/rtoscubemx
Debug/
packages/
Release/
UnitTests/UnitTests.vcxproj.user
.vs/launch.vs.json
.vs/tasks.vs.json
.vs/tests/config/applicationhost.config
.vs/tests/v15/.suo
.vs/tests/v15/Browse.VC.db
.vs/tests/v15/ipch/47c19a4c86562894.ipch
.vs/tests/v15/ipch/AutoPCH/3517fb3228652c2/TASK.ipch
.vs/tests/v15/ipch/AutoPCH/412761868ff4773/SCHEDULER.ipch
.vs/tests/v15/ipch/AutoPCH/6c4f959dce3cedc3/TESTDOUBLELINKEDLIST.ipch
.vs/tests/v15/ipch/AutoPCH/8ef437a6c3b35d0/MAIN.ipch
.vs/tests/v15/ipch/AutoPCH/99c1eb899e06bf04/MAIN.ipch
.vs/tests/v15/ipch/AutoPCH/9c7bdcafe5f79845/CRITICALSECTIONHARNESS.ipch
.vs/tests/v15/ipch/AutoPCH/b017d17a3c65931/TASK.ipch
.vs/tests/v15/ipch/AutoPCH/ca3500e27c4b51e6/DOUBLELINKEDLIST.ipch
.vs/tests/v15/ipch/AutoPCH/ccbb00067669d600/TESTSORTEDDOUBLELINKEDLIST.ipch
.vs/tests/v15/ipch/AutoPCH/ccd8af6985dfa2e5/LOCKABLE.ipch
.vs/tests/v15/ipch/AutoPCH/dd4b2c87b3b2ccc5/SORTEDDOUBLELINKEDLIST.ipch
.vs/tests/v16/.suo
.vs/tests/v16/Browse.VC.db
.vs/tests/v16/Solution.VC.db
.vs/tests/v16/TestStore/0/000-0000.testlog
.vs/tests/v16/TestStore/0/testlog.manifest
.vs/tests/v16/ipch/AutoPCH/18aab119bbf71c8e/PINMOCK.ipch
.vs/tests/v16/ipch/AutoPCH/1d24766477ef7a63/TESTPIN.ipch
.vs/tests/v16/ipch/AutoPCH/23fdc5981b12723a/INTERRUPTS.ipch
.vs/tests/v16/ipch/AutoPCH/33a71147fa915f9a/STM32F1XX_LL_GPIO.ipch
.vs/tests/v16/ipch/AutoPCH/3d1054319eb977d9/PIN.ipch
.vs/tests/v16/ipch/AutoPCH/4ef3524b18dd9335/CRITICALSECTIONHARNESS.ipch
.vs/tests/v16/ipch/AutoPCH/5264bbdc1ca4a4c6/PIN.ipch
.vs/tests/v16/ipch/AutoPCH/5861b9409c7316b5/PIN.ipch
.vs/tests/v16/ipch/AutoPCH/646f40e078d259f0/PIN.ipch
.vs/tests/v16/ipch/AutoPCH/64eaa2fb5b31cd0d/MOCKPIN.ipch
.vs/tests/v16/ipch/AutoPCH/69d0ae590a767737/TESTLIST.ipch
.vs/tests/v16/ipch/AutoPCH/742fcfd24dc6b7e8/SCHEDULER.ipch
.vs/tests/v16/ipch/AutoPCH/7ccb1acc35ac4097/SCHEDULER.ipch
.vs/tests/v16/ipch/AutoPCH/888537ba3df9c560/MAIN.ipch
.vs/tests/v16/ipch/AutoPCH/9fc1dc35ccdd42a1/SYSTEM_STM32F1XX.ipch
.vs/tests/v16/ipch/AutoPCH/a7d4d048ec313ee7/STUBPIN.ipch
.vs/tests/v16/ipch/AutoPCH/b0222516b970cc74/PINSTUB.ipch
.vs/tests/v16/ipch/AutoPCH/b1a553da7d1a9617/TESTFUNCTION.ipch
.vs/tests/v16/ipch/AutoPCH/c88280d8e176e638/PIN.ipch
.vs/tests/v16/ipch/AutoPCH/cbd2550e5448e6bd/MAIN.ipch
.vs/tests/v16/ipch/AutoPCH/d018fd5d3f2e8317/STM32F1XX_LL_GPIO.ipch
.vs/tests/v16/ipch/AutoPCH/d0c616a21612ed04/PIN.ipch
.vs/tests/v16/ipch/AutoPCH/d2f4c0c8eb244a6a/TESTPIN.ipch
.vs/tests/v16/ipch/AutoPCH/d819ad13cc95644/TESTSORTEDLIST.ipch
.vs/tests/v16/ipch/AutoPCH/ec245260a7f0ec12/STM32F1XX_LL_GPIO_SPY.ipch
.vs/tests/v16/ipch/AutoPCH/f0e5e8c1563d927d/MAIN.ipch
.vs/CMake Overview
.vs/cmake.db
